/* Dashboard.css */
.dashboard-container {
    width: 100vw; /* Ensure full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    flex-direction: column;
}

.dashboard-navbar {
    flex: 0;
    display: flex;
    justify-content: flex-start; /* Align the hamburger to the left */
    padding: 10px 20px;
}

.challenges-container {
    flex: 1;
    display: flex;
    justify-content: center; /* Centers the challenge cards horizontally */
    align-items: center; /* Centers the challenge cards vertically */
}