/* Dashboard.css */
.dashboard-container {
    background-image: url('/public/imgs/lakeMountains.jpeg');
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw; /* Ensure full width of the viewport */   
    height: calc(100vh);  /* Full height of the viewport */
    /* height: auto; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}



.challenges-header {
    font-size: 4em;
    font-family: 'Georgia', serif;
    color:  #fef9e7;
    padding: 20px 20px;
    background-color: rgba(247, 209, 163, .4);
    border: 1px solid #ccc; /* Border for separation */
    border-radius: 7px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.challenges-header-and-container{
    display: flex;
    flex-direction: column;
    margin: 0px 150px;
    justify-content: center;
    align-items: center;
}

.challenge-with-confirm-button{

    display: flex;
    flex-direction: column;
    
}

.challenges-container {
    width: 100vw;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Centers the challenge cards horizontally */
    align-items: center; /* Centers the challenge cards vertically */
}

.confirm-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.complete-button {
    display: block;
    margin: 0px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.confirm-button:hover {
    background-color: #45a049;
}

.complete-button:hover {
    background-color: #45a049;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.challenge-qr-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(254, 249, 231, 0.2);
    padding: 0px 40px;
    border-radius: 10px;

}

.qr-code-container{
    margin: 0px 30px;
    width: 100px;
    height: auto;

}

.qr-code{

    background-color: rgba(254, 249, 231, 1);
    padding: 10px 10px;
}