/* Profile.css */
.profile-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0;
    height: calc(100vh);    
    overflow: hidden;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-container input {
    padding: 10px;
    width: 250px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-change-container button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-change-container {
    display: flex;
    align-items: center; /* Centers the challenge cards vertically */
    flex-direction: column;
}

.delete_btn{
    background-color: red;
}

.delete_btn:hover{
    background-color: rgb(188, 0, 0);
}

.update_btn{
    background-color: #4CAF50;
}

.update_btn:hover {
    background-color: #45a049;
}

.update_photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-info{

    display: flex;
    flex-direction: row;
    margin: 20px, 0px;
    align-content: space-between;
    width: 100vw;

}

.vertical-line{
    width: 2px;
    height: 100px;
    background-color: black;
}