/* Profile.css */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 0;
    height: calc(100vh);    
    overflow: hidden;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-container input {
    padding: 10px;
    width: 250px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-change-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-container button:hover {
    background-color: #45a049;
}

.profile-navbar {
    display: flex;
    justify-content: flex-start; /* Align the hamburger to the left */
    width: 100%;
    padding: 10px 0 0 45px;
}

.profile-change-container {
    flex: 1;
    display: flex;
    justify-content: space-evenly; /* Centers the challenge cards horizontally */
    align-items: center; /* Centers the challenge cards vertically */
    flex-direction: column;
}